body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
div{
    margin: 60px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;

}
.menu{
    background-color: silver;
    width: 60px;
    top: 0px;
    height: 1000px;
    position: fixed;
    color:transparent;
    -webkit-transition: width 1s, -webkit-transform 1s;
    transition: width 1s,  transform 1s;
}
span{
    position: relative;
    margin: 60px;
    top: -33px;
}
p{
    
    margin-left: 5px;
    padding: 30px;
    padding-left: 0px;

}
p.li:hover{
    background-color: rgb(105, 98, 98);
    margin-right: 15px;
}
div.menu:hover{
    background-color: silver;
    width: 170px;
    top: 0px;
    height: 1000px;
    position: fixed;
    color: white;
}
.text{
    margin-left: 130px;
}
div#l2{
    color: white;
    margin: 10px;
    margin-left: 3px ;
}

